@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #0f172a;
  }

  body {
    @apply text-slate-200 antialiased;
    background-color: var(--color-background);
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  * {
    @apply transition-all duration-200 ease-in-out;
  }
}